.container {
    max-width: 1320px;
    margin: 0 auto;
}

.content {
    display: flex;
    gap: 50px;
}

.title {
    font-family: Ferry;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 58px;
}

.label {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.04em;
}

.table {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #029491;
    gap: 0; 
}

.column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    border-left: 1px solid #029491; 
    border-right: 1px solid #029491; 
}

.legend {
    background: #029491;
    color: white;
    composes: column;
}

.arrow {
    background-color: transparent;
    cursor: pointer;
}


.documentsRow {
    display: flex;
    gap: 20px; 
}