.container {
    max-width: 1320px;
    margin: 0 auto;
}

.title {
    font-family: Ferry;
    font-size: clamp(1.75rem, 1.046rem + 3vw, 3.75rem);
    margin-bottom: 20px;
}

.icon {
    float: right;
}

.root {
    background: url("../../assets/img/main.png") 100% 100% / clamp(7.5rem, -3.063rem + 45.07vw, 37.5rem) no-repeat;
    margin-bottom: 100px;

    @media (width < 800px) {
        background: url("../../assets/img/main.png") 100% 100% / clamp(7.5rem, -3.063rem + 45.07vw, 37.5rem) no-repeat;
    }
}

.left {
    max-width: 740px;
}

.text {
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.button {
    background-color: #5970ff;
    display: block;
    width: 60%;
    margin-top: 55px;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #ffffff;
}

.button:hover {
    background-color: #341da2;
}
