.root {
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 20px 0px #00000033;
    border: 2px solid #ffb64f;
    flex-basis: 33.33%;
}

.header {
    padding: 30px 35px;

    background: #ffb64f url("../../assets/img/light.svg") calc(100% - 16px) 10px no-repeat;
}

.title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
}

.subtitle {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

.content {
    padding: 30px;
    padding-bottom: 24px;
    position: relative;
}

.badge {
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: #3ba5e0;
    padding: 4px 12px;
    color: #ffffff;
    border-radius: 10px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.newPrice {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-right: 20px;
}

.oldPrice {
    font-family: Inter;
    text-decoration: line-through;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #00000071;
}

.text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.li {
    padding-left: 24px;
    background: url("../../assets//img/checkmark.png") 0 50% no-repeat;

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

.button {
    background-color: #d2d2d2;
    display: block;
    width: 100%;
    margin-top: 55px;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
}

.button:hover {
    background-color: #eeeeee;
}
