.root {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}

.logo {
    background-color: slateblue;
    height: 30px;
    width: 85px;
}

.links {
    display: flex;
    gap: 50px;
}

.profile {
    display: flex;
    gap: 4px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.burger {
    display: none;
}

@media (width < 800px) {
    .links,
    .profile {
        display: none;
    }

    .burger {
        display: block;
    }
}

.menu {
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #029491;
    z-index: 1;
}

.signUpText {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.4;
    color: #fff;
}

.signInButton {
    background-color: #7ce3e1;
    width: 100%;

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px;

    margin-top: 20px;

    border-radius: 5px;
}
