.card {
    box-shadow: 0px 0px 20px 0px #00000033;
    padding: 20px;
    border-radius: 10px;
    width: 33.33%;
}

.icon {
    margin-bottom: 20px;
    height: 64px;
    width: 64px;
}

.title {
    font-family: Ferry;
}