.title {
    font-family: Ferry;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 1%;
    margin-bottom: 70px;
}

.line {
    display: flex;
    gap: 30px;
}

.root {
    margin-bottom: 100px;
}

.arrow {
    background-color: transparent;
    cursor: pointer;
}