.root {
    background-color: #029491;
    padding: 25px 0;
}

.line {
    display: flex;
    justify-content: space-between;
}

.right {
    text-align: right;
    color: #fff;
}

.logo2 {
    background-color: slateblue;
    height: 20px;
    width: 50%;
}
