* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

@font-face {
    font-family: Ferry;
    src: url(./assets/fonts/ferry_black.otf);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/inter.ttf);
}

li {
    list-style-type: none;
    /* list-style-position: inside; */
}

button {
    border: none;
}

input {
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}
